
@{
    ViewBag.Title = "About";
}

<html>
<head>

</head>
<body style="background:radial-gradient(circle,white,grey)">
    <div class="abt">
        <h1>About Us</h1>
        <p>In our Airlines</p>
    </div>

    <div class="pilot">
        <img src="~/images/pilot.png" />
    </div>
</body>
</html>

